label {
    font-weight: bold;
    margin-right: .1em;
}

#array-container {
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

input {
    border-radius: 1vw;
    margin-right: 1vw;
    width: 7em;
}

#explanation, p, ol, ul {
    text-align: left;
}
