<div class="container">
  
    <div id="pf-options" class="toolbar">
        
        <button (click)="this.redirectTo('home')"
        class = "primary-button button"
        > Home </button>

        <select class="right-margin select" 
        (change)="this.redirectTo($event.target.value)" >
            <option selected [value]="'data-structures'">
                Data Structures Visualizer
            </option>
            <option [value]="'path-finder'">
                Path Finding Visualizer
            </option>
            
            <option [value]="'sorting'">
                Sorting Visualizer
            </option>
        </select>

        <button (click)="this.find()"
        [disabled]="needReset || animating"
        > Find </button>
    
        <button (click)="this.insert()" 
        [disabled]="animating"> 
        Insert </button>

        <button (click)="this.reset()" 
        [disabled]="animating"> 
        Reset </button>
    
        <p>Structure: </p>
        <select class="select" name="currentDS" [(ngModel)]="currentDS">
            <option *ngFor="let option of dsOptions" 
            [value]=option.value
            > 
                {{option.name}}
            </option>
        </select>
        <button class="tooltip" (click)="showInfo()">
        ?
        </button>
        <p>Speed: </p>
        <select class="right-margin select" name="animeSpeed" [(ngModel)]="animeSpeed">
            <option *ngFor="let option of animeSpeedOptions" 
            [value]=option.value
            > 
                {{option.name}}
            </option>
        </select>
    </div>

    <textarea id="ds-values" placeholder="Enter comma separated values here"></textarea>

    <app-trie [multiplier]="animeSpeed" *ngIf="currentDS==='trie'"></app-trie>

    <app-heap [multiplier]="animeSpeed" *ngIf="currentDS==='heap'"></app-heap>

    <div id="legend" class="toolbar"> 

    </div>

    <div id="explanation">
        <figure>
            <figcaption>Instructions</figcaption>
            <ol style="text-align: left;">
                <li>
                    Enter the elements you would like to place in the structure separated by commas.
                </li>
            </ol>
        </figure>
        <div *ngIf="displayExplanation">
          
        </div>
    </div>

</div>