

<div class="grid">
    <div class="buttons">
        <p> Start Node </p>
        <div id="start-legend" class="node-legend"></div>
        <P> End Node</P>
        <div id="end-legend" class="node-legend"></div>
        <p> Wall </p>
        <div id="wall-legend" class="node-legend"></div>

        <button (click)="this.visualizeDijkstra()"
        [disabled]="needReset || animating"
        > Visualize </button>
    
        <button (click)="this.reset()" 
        [disabled]="animating"> 
        Reset </button>
    
        <!-- <button (click)="this.stop()"
        [disabled]="!animating">
        Stop</button> -->
      
        <p>Speed: </p>
        <select class="select" name="animeSpeed" [(ngModel)]="animeSpeed">
            <label for="animeSpeed"> Speed:</label>
            <option *ngFor="let option of animeSpeedOptions; last as last" 
            [value]=option.value
            > 
                {{option.name}}
            </option>
        </select>
      
    </div>
 
    <div class="grid-row" #allNodes *ngFor="let row of grid; let last = last">
        <app-node *ngFor="let node of row" 
            [col]=node.col
            [row]=node.row
            [isStart]=node.isStart
            [isFinish]=node.isFinish
            [isWall]=node.isWall
            (mousedown)="this.handleMouseDown(node.row,node.col)"
            (mouseover)="this.handleMouseOver(node.row,node.col)"
            (mouseup)="this.handleMouseUp()"
        ></app-node>
    </div>


</div>