

.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    :hover {
      cursor: pointer;
    }
}

.node-legend {
  height: 1.75vw;
  width: 1.75vw;
  border: 1px solid black;
  margin-right: .5vw;
}

.buttons {
  width: 100%;
  padding: 1vh;
  margin-bottom: 2vh;
  background-color: turquoise;
  display: flex;
  flex-direction: row;
  align-items:  center;
  justify-content: center;

  p {
    margin-right: .5vw;
    font-weight: bold;
  }

  #start-legend {
    background-color: green;
  }

  #end-legend {
    background-color:  red;
  }

  #wall-legend {
    background-color: darkblue;
  }
}

.grid-row {
  line-height: 0;
}