:host{
    margin-top: 3vh;
    margin-bottom: 3vh;
    min-height: 50vh;
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    text-align: center;
}

p { 
    margin: 0;
    span {
        margin: 0;
        padding: 0;
        width: 1em;
        white-space: nowrap;
    }
}

.highlight {
    color: crimson;
}

.bucket {
    border: 1px solid black;
    padding: 1vw;
}

.value {
    border: 1px solid black;
}

.remove { 
    background-color: red;
}