:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

#status-container { 
    font-weight: bold;
    padding: 1em;
    background-color: lightgray;
    border-radius: .5em;
    margin-bottom: 1vh;
}

#trie-container {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

:host ::ng-deep .trie-node { 
    border-radius: 50%;
    padding: 1em;
    text-align: center;
}

#status-container {
    text-align: center;
}

p {
    margin: 0;
    padding: .5em;
    .found {
        background-color: green;
    }
    .not-found {
        background-color: red;
    }
}

:host ::ng-deep .active {
    border: 1px solid black;

}