<div class="container">
    <div id="home-buttons">
        <div id="home-buttons-inside">
            <h1>Welcome to Jonathan's Virtual Visualizer </h1>
            <div id="buttons">
                <button class="primary-button" routerLink="/data-structures">
                    Data Structures
                </button>
                <button class="primary-button" routerLink="/path-finder">
                    Path Finding
                </button>
                <button class="primary-button" routerLink="/sorting">
                    Sorting
                </button>
            </div>
        </div>
   
    </div>
    <!-- //TODO Add link to porfolio contact -->
    <button> Contact </button>
</div>
