<div class="container">
    <div id="home-buttons">
        <div id="head-banner">
            <h1 style="color: white;">Welcome to Jonathan's Virtual Visualizer Emporium!</h1>
        </div>
        <div id="buttons">
            <button routerLink="/data-structures">
                Data Structure Visualizer
            </button>
            <button routerLink="/path-finder">
                Path Finder Visualizer
            </button>
        </div>
    </div>
    <!-- //TODO Add link to porfolio contact -->
    <button class="primary-button"> Contact </button>
</div>
